.app{
    background: #f1f1f1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-areas: 
    "encabezado"
    "contenido"
    "rodapie";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto; 
}
.header{
    align-items: center;
    display: flex;
    grid-area: encabezado;
    padding: 0 2rem;
}
.menu__link{
    color: 333333;
    padding: 0.5rem 1rem;
}
.menu__link:hover, .menu__link:active{
    border-bottom: 2px solid blue;
}
.contenido{
    grid-area: contenido;
    padding: 0 2rem;
}

.rodapie{
    background: green;
    color: #333333;
    grid-area: rodapie;
    padding: 1rem;
    text-align: center;
}
/* .encabezado {
    grid-area: encabezado;
}
.contenido {
    grid-area: contenido;
} */
/* .rodapie { 
    grid-area: rodapie;
} */